<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>RemindMeApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginUser</display-name>
    <servlet-name>LoginUser</servlet-name>
    <servlet-class>com.revati.service.LoginUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUser</servlet-name>
    <url-pattern>/LoginUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRemainder</display-name>
    <servlet-name>AddRemainder</servlet-name>
    <servlet-class>com.revati.service.AddRemainder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRemainder</servlet-name>
    <url-pattern>/AddRemainder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewReminder</display-name>
    <servlet-name>AddNewReminder</servlet-name>
    <servlet-class>com.revati.service.AddNewReminder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewReminder</servlet-name>
    <url-pattern>/AddNewReminder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUser</display-name>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>com.revati.service.RegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
    <url-pattern>/RegisterUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteReminder</display-name>
    <servlet-name>DeleteReminder</servlet-name>
    <servlet-class>com.revati.service.DeleteReminder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteReminder</servlet-name>
    <url-pattern>/DeleteReminder</url-pattern>
  </servlet-mapping>
</web-app>